.img{
  align-content: right;
}

.test-box{
    border: 2px solid purple;
}
body{
    background-color: black;
    color: purple;
}
.side{
    text-align: center;
}
.interests{
    text-align: center;
}
.projects{
    text-align: center;
}